<p>Observal</p>

<div *ngFor="let x of data">
   {{x}}  
</div>

<button (click)="getDataBtn()">get data</button>

<br/>
<br/>
<br/>
<P>Map</P>
<div *ngFor="let z of dataM">
   {{z}}  
</div>
<button (click)="getDataBtnMap()">get data Map</button>
<br/>
<br/>
<br/>
<P>Filter</P>
<div *ngFor="let z of dataF">
   {{z}}  
</div>
<button (click)="getDataBtnFilter()">get data Filter</button>
<br/>
<br/>
<br/>
<P>Map and Filter</P>
<div *ngFor="let z of dataMF">
   {{z}}  
</div>
<button (click)="getDataBtnMapAndFilter()">get data Map and Filter</button>

<app-from-event></app-from-event>
<br/>
<br/>
<br/>

<p>components interaction bt subject</p>

<app-new-task></app-new-task>
<br/>
<app-show-task></app-show-task>

<br/>
<br/>
<app-subject></app-subject>
<br/>
<br/>
<app-unsubscribe></app-unsubscribe>

<br/>
<br/>
<br/>
<br/>

